$blue: #2776d5;

.hexagons-row {
  padding-top: 50px;
  display: flex;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;

  &:hover {
    z-index: 2;
  }

  &:last-child {
    .hexagons-col {
      &:after {
        content: '';
        position: absolute;
        background: $blue;
        top: 79px;
        right: 0;
        height: 2px;
        left: 20px;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
}

.hexagons-wrapper {
  padding: 0 50px 0 100px;
  min-width: 1060px;
  box-sizing: border-box;

  .circle {
    position: relative;
    width: 100%;
    height: 2px;
    background: $blue;
    border-right: 100px solid #fff;
    box-sizing: border-box;

    &:before {
      position: absolute;
      content: '';
      width: 106px;
      height: 100px;
      border: 2px solid $blue;
      right: -52px;
      bottom: 1px;
      border-left-color: transparent;
      border-top-color: transparent;
      border-radius: 50%;
      border-right-color: transparent;
      transform: rotate(-39deg);
    }

    &:after {
      position: absolute;
      content: '';
      right: -51px;
      top: -227px;
      left: 0;
      height: 225px;
      border: 2px solid $blue;
      border-radius: 57px;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    & + .hexagons-row {
      &:before {
        content: '';
        position: absolute;
        width: 130px;
        height: 130px;
        border: 2px solid #2776d5;
        border-radius: 50%;
        top: -2px;
        left: -67px;
        border-right-color: transparent;
        border-top-color: transparent;
        transform: rotate(45deg);
      }

      &:after {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f105";
        font-size: 29px;
        color: $blue;
        top: 129px;
        position: absolute;
        left: -12px;
        transform: translateY(-50%);
      }
    }
  }
}

.hexagons-col{
  flex-basis: 33%;
  position: relative;
  display: flex;
  flex-direction: column;

  &:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f105";
    font-size: 29px;
    color: $blue;
    top: 78px;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
  }

  &:last-child {
    &:after,
    &:before {
      display: none;
    }
  }

  .hexagon {
    .singleline {
      bottom: 20px;
    }
  }

  .hexagon {
    margin-left: 50px;
    z-index: 1;
  }

  .hex-info {
    width: 178px;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
  }

  .description {
    height: 4em;
    display: block;
    overflow: hidden;
    line-height: 14px;
  }

  .duration {
    font-weight: 400;
    font-size: 0.87em;
  }
}

.subjects {
  .hexagon2 {
    opacity: 0.4;
    animation: appear 1.5s 1;
    animation-timing-function: ease-in-out;
    margin: 0;

    &.active {
      opacity: 1;
    }

    &.hex-red-nohover {
      border-top-color: #c4156e;
      border-bottom-color: #c4156e;
      .hexRight {
        border-top-color: #c4156e;
        border-right-color: #c4156e;
      }
      .hexLeft {
        border-left-color: #c4156e;
        border-bottom-color: #c4156e;
      }
    }

    &:hover {
      opacity: 1;
      &.hex-green-nohover,
      &.hex-orange-nohover {
        &:hover {
          background-image: url(/assets/images/potencia/eye.png)!important;
        }
      }
      &.hex-blue-nohover {
        border-top-color: #8740dc;
        border-bottom-color: #8740dc;

        &:hover {
          background-image: url(/assets/images/potencia/eye.png)!important;
        }

        .hexLeft {
          border-left-color: #8740dc;
          border-bottom-color: #8740dc;
        }
        .hexRight {
          border-top-color: #8740dc;
          border-right-color: #8740dc;
        }
      }

      &.hex-red-nohover {
        border-top-color: #c4156e;
        border-bottom-color: #c4156e;

        &:hover {
          background-image: url(/assets/images/potencia/eye2.png)!important;
        }

        .hexLeft {
          border-left-color: #c4156e;
          border-bottom-color: #c4156e;
        }
        .hexRight {
          border-top-color: #c4156e;
          border-right-color: #c4156e;
        }
      }
    }

    &:before {
      content: '';
      position: absolute;
    }
  }

  .active {
    .hexagon2 {
      opacity: 1;
      animation: none;
    }
  }

  .hexagon-base {
    background: #fff;
    width: 138px;
    padding-left: 44px;
    position: relative;
    z-index: 3;
  }
}

@keyframes appear {
  0% {
    opacity: 1;
    transform: scale(1.04);
  }
  50% {
    opacity: 1;
    transform: scale(1.04);
  }
  100% {
    opacity: 0.4;
    transform: scale(1);
  }
}

.hexagon-info {
  position: absolute;
  width: 250px;
  top: 200px;
  background-color: #fff;
  transform: translateX(-25%);
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;

  h1 {
    font-size: 13px;
    color: #283593;
    margin-left: 0px !important;
    margin-top: 16px !important;
  }

  .info-p {
    font-size: 13px;
    color: #6A6B6D;
    font-weight: 200;

    span {
      font-weight: 800;
    }
  }

  .hexagon-info-content {
    padding: 10px 20px;
  }
}

.hexagon-base:hover .hexagon-info,
.hexagon-base.clicked .hexagon-info {
  display: block;
  opacity: 1;
}


