html, body, #root {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

$blue: #283593;
$text: #fff;

.main-content {
  background-color: white;
}

.main-nav {
  background: $blue;
  color: $text;
  overflow: hidden;
  padding: 0 27px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;

  button {
    color: #fff;
    cursor: pointer;

    i.fa {
      font-size: 20px;
    }
  }

  .logo {
    padding: 0 50px 0 15px;
    margin: 0;

    img {
      max-width: 80px;
    }
  }

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-buttons {
    background: none;
    border: 0;
    display: flex;
    align-items: center;
    font-size: 0.86em;
    margin: 0 15px;

    span {
      margin-left: 10px;
    }
  }

}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.elements {
  display: flex;
  align-items: center;

  h3 {
    font-weight: 400;
    font-size: 1.2em;
    border-left: 1px solid #fff;
    padding: 12px 0 12px 12px;
    margin: 20px 0px;
  }

  div {
    color: #fff!important;
  }
}

.main-content {
  display: flex;

  .nav {
    flex-basis: 280px;

    i.fa {
      font-size: 23px;
    }

    &.closed {
      span {
        margin: 20px 0 !important;
      }
    }
  }

  .main-info {
    flex: 1;
    padding: 0px 24px 24px;
  }
}


.block-border {
  border-bottom: 1px solid #26c6da;
  padding-bottom: 10px;
  margin-bottom: 25px;

  h5 {
    color: #26c6da;
    font-size: 1.05em;
    margin-top: 5px;
  }

  p {
    color: #455a64;
    font-size: 0.9em;
    line-height: 1.7em;
  }
}

.block-header {
  h4, h3 {
    margin-bottom: 0;
    margin-top: 10px;
  }

  p {
    margin-top: 5px;
  }
}

.block-footer {
  color: #455a64;

  h3 {
    font-size: 0.9em;
  }
}

$blue: #2776d5;

.blocks-header {
  position: relative;
  margin: 0 34px;

  h1 {
    color: $blue;
    text-align: center;
    font-size: 1.8em;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
  }

  button {
    position: absolute;
    color: $blue;
    font-size: 1.7em;
    background: none;
    border: 0;
    cursor: pointer;
  }

  .block-link-prev {
    left: 0;
  }

  .block-link-next {
    right: 0;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.subject-description {
  font-size: 1.2em;
  text-align: center;
  color: #484848;
  margin-bottom: 2em;
  margin-top: 0;
}


.img-discover {
  border: 3px solid #E3E4E5;
  margin-top: 25px;
  padding: 7px;
  border-radius: 4px;
  width: 98%;
}

.table-med-rel {
  border-collapse: collapse;
  font-size: 0.9em;
  border: 0;
  color: #3c474b;

  thead {

    tr {
      background-color: #ebeff2;
      color: #283593;

      th {
        padding: 25px 35px 25px 35px;
        border-bottom: 1px solid #b1bec6;
        border-right: none;
      }

    }
  }

  tbody {

    td {
      padding: 15px;
      padding-right: 80px;
    }

    td:nth-child(3), td:nth-child(4) {
      text-align: center;
      padding-right: 15px;
    }

    .title {
      font-weight: bold;
    }

    tr {
      &:nth-child(even) {
        background-color: #ebeff2;
      }
    }

    .img-relative {
      margin-top: 15px;
    }

    .meds-set {
      display: flex;

        & > div {

          & + div {
            margin-left: 15px;
          }
        }

        & + .meds-set {
          margin-top: 20px;
        }

      }

    .meds-set + .meds-set {
      margin-top: 20px;
    }

  }

}

.table-rea-rel {
  border-collapse: collapse;
  font-size: 16px;
  border: 0;
  color: #3c474b;

  thead {

    tr {
      background-color: #ebeff2;
      color: #283593;

      th {
        padding: 25px 35px 25px 35px;
        border-bottom: 1px solid #b1bec6;
        border-right: none;
      }

      th:nth-child(2) {
        width: 40%;
      }
    }
  }

  tbody {
    td {
      padding: 15px;
      padding-bottom: 25px;
      vertical-align: top;
    }

    td:nth-child(3) {
      text-align: center;
    }

    td:nth-child(1) {
      font-weight: bold;
      width: 70%;
    }

    td:nth-child(2) {
      padding-left: 50px;
      font-size: 14px;
      line-height: 10px;

      span {
        margin-right: 15px;
      }

      .correct {
        font-weight: bold;
      }
    }

    .title {
      font-weight: bold;
    }

    tr {
      &:nth-child(even) {
        background-color: #ebeff2;
      }
    }
  }
}

.table-pla-rel {
  border-collapse: collapse;
  font-size: 0.9em;
  border: 0;
  color: #3c474b;

  thead {

    tr {
      background-color: #ebeff2;
      color: #283593;

      th {
        padding: 25px 35px 25px 35px;
        border-bottom: 1px solid #b1bec6;
        border-right: none;
      }

    }
  }

  tr {
      &:nth-child(even) {
        background-color: #ebeff2;
      }
    }

  tbody {

    td {
      padding: 15px;
    }

    td:nth-child(1), td:nth-child(4) {
      text-align: center;
      font-weight: bold;
      width: 10%;
    }
  }
}
